@import '../../config.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  padding: 5px 0;
  width: 100%;

  color: #eee;
  background-color: rgba(0, 0, 0, 0.8);

  padding-left: $gutter;
  padding-right: $gutter;

  max-width: $max-width + 20px;

  @media (min-width: $max-width) {
    padding: 10px;
  }

  &__content {
    max-width: $max-width;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    margin-right: -($gutter / 2);
    margin-left: -($gutter / 2);
  }

  &__title {
    @include columns(8);
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;

    font-family: $font-heading;
    font-size: 1.5rem;

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  &__search {

  }

  &__nav {
    @include columns(4);
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;

    display: flex;
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    list-style: none;
  }

  @media (max-width: 600px) {
    &__hide {
      visibility: hidden;
    }
  }

  &__item {
    display: flex;

    font-size: 1rem;
    // margin: 0px 20px;

    &--button {
      display: none;
      padding-left: $gutter;

      @media (min-width: 500px) {
        display: flex;
      }
    }
  }

  &__link {
    color: #eee;
    text-decoration: none;
  }
}

.dropdown {
  display: inline-block;
  // position: absolute;
  padding: 0px 20px;

  &__header {
    display: inline-block;
    // border: 1px solid gray;
    // border-radius: 4px;
    // background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    white-space: nowrap;
    &__title {
      font-size: 1.5em;
      font-weight: bolder;
      padding: 0px 7px 0px 7px;
    }
  }

  &__header:hover {
  background-color: rgba(0, 0, 0, 0.8);
  }

  &__list {
    position: absolute;
    top: 100%;
    // marginleft: 10px;
    // left: 0;
    right: 0;
    margin-right: 10px;
    // border: 1px solid #ccc;
    // border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: rgba(0, 0, 0, 0.8);
    list-style-type: none;

    &__item {
      padding: 10px 20px;
      cursor: pointer;
      white-space: nowrap;
      border-bottom: 0.5px solid #ccc;
    }

    &__item:hover {
    background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &__link {
    color: #eee;
    text-decoration: none;
    font-family: $font-heading;
  }

}
