@import '../../config';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  padding: 5px 0;
  width: 100%;

  color: #eee;
  background-color: rgba(0, 0, 0, 0.8);

  padding-left: $gutter;
  padding-right: $gutter;

  @media (min-width: $max-width) {
    padding: 10px;
  }

  &__content {
    max-width: $max-width;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    margin-right: -($gutter / 2);
    margin-left: -($gutter / 2);
  }

  &__title {
    @include columns(8);
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;

    font-family: $font-heading;
    font-size: 1.5rem;

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  &__nav {
    @include columns(4);
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;

    display: flex;
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    list-style: none;
  }

  &__item {
    display: flex;

    font-size: 1rem;

    &--button {
      display: none;
      padding-left: $gutter;

      @media (min-width: 500px) {
        display: flex;
      }
    }
  }

  &__link {
    color: #eee;
    text-decoration: none;
  }
}
